{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}

<form action="{% url 'votings:votes_search' voting.id %}" method="get" class="post-form">
    {% csrf_token %}
    <div class="row">
        {% if voting.are_votes_anonymous %}
        <div class="form-group col-md-5 mb-0">
            {{ search_votes_form.registration_number | as_crispy_field }}
        </div>
        {% endif %}
        {% if not voting.are_votes_anonymous%}
        <div class="form-group col-md-5 mb-0">
            {{ search_votes_form.username | as_crispy_field }}
        </div>
        {% endif %}
        <div class="form-group col-md-3 mb-0">
            {{ search_votes_form.index_number | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 mb-0">
            <button type="submit" class="save btn btn-primary">Search vote/s</button>
        </div>
    </div>
        
    
</form>

{% if votes_list %}
    <ul>
    {% for vote in votes_list %}
    {% if voting.are_votes_anonymous %}
        <li>{{ vote.id }} -- {{vote.option.index_number}} </li>
    {% endif %}
    {% if not voting.are_votes_anonymous %}
        <li>{{ vote.user.username }} -- {{vote.option.index_number}} </li>
    {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No votes are available.</p>
{% endif %}

{% endblock %}