{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}

{% if voting %}
    {{voting.title_text}}<p>
    {{voting.question_text}}<p>
    {{voting.explanation_text}}<p>
    anonymous: {{voting.are_votes_anonymous}}<p>
    {{voting.start_date}}<p>
    {{voting.end_date}}<p>
      <p> <a href="{% url 'votings:assemblies_show' voting.assembly.id %}"> {{voting.assembly.name_text}} </a> </p>
    {{voting.state}}<p>

      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletevoting">Delete</button>
      <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#editvoting">Edit</button>
      <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#datetimevoting">Calendar</button>
    {% if voting %}
        <h2>options</h2>
        <ul>
        {% for option in options %}
            <li>
                {% if option.index_number%}
                {{option.index_number}}
                {% endif%}
                {{option.title_text}}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteoption{{option.id}}">Delete</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editoption{{option.id}}">Edit</button>

            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p> There is no options.</p>
    {% endif %}

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newoption">New option</button>



  <!-- Edit voting modal -->
<div class="modal" id="editvoting">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit voting</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form" action="{% url 'votings:votings_edit' voting.id %}">
          {% csrf_token %}
          {{ edit_voting_form | crispy}}  
      </div>
      <div class="modal-footer">
        <button type="submit" class="save btn btn-default">Edit</button>
        </form> 
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete voting modal -->
<div class="modal" id="deletevoting">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete voting</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">
          {% csrf_token %}     
      </div>
      <div class="modal-footer">
        <button type="submit" class="save btn btn-default">Delete</button>
        </form> 
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!-- Date time modal -->
{{ calendar_voting_form.media }} 
<div class="modal" id="datetimevoting">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Calendar voting</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form">
          {% csrf_token %}
          {{ calendar_voting_form | crispy}}       
      </div>
      <div class="modal-footer">
      <button type="submit" class="save btn btn-primary">Save</button>
      </form>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- New option modal -->
<div class="modal" id="newoption">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New option</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'votings:options_create' voting.id %}" method="post" class="post-form">
                {% csrf_token %}
                {{ new_option_form | crispy }}       
        </div>
        <div class="modal-footer">
            <button type="submit" class="save btn btn-primary">Save</button>
            </form>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  

{% for option_id, edit_option_form in edit_option_forms.items %}
<!-- Edit option modal -->
<div class="modal" id="editoption{{option_id}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit option</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'votings:options_edit' voting.id option_id %}" method="post" class="post-form">
                {% csrf_token %}
                {{ edit_option_form | crispy }}
        </div>
        <div class="modal-footer">
            <button type="submit" class="save btn btn-primary">Edit</button>
            </form>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

{% for option in options %}
  <!-- Delete option modal -->
<div class="modal" id="deleteoption{{option.id}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete option</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {{option.title_text}} <p>
        {{option.explanation_text}}
      </div>
      <div class="modal-footer">
        <a href="{% url 'votings:options_delete' voting.id option.id%}" class="button btn btn-default">Delete</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}




{% endif %}
<script>
  $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});
</script>
{% endblock %}
