{% extends "base.html" %}

{% block page_content %}


{% if voting %}
    {{voting.title_text}}<p>
    {{voting.question_text}}<p>
    {{voting.explanation_text}}<p>
    {{voting.start_date}}<p>
    {{voting.end_date}}<p>
    {{voting.assembly.name_text}}<p>
    {{voting.state}}<p>
{% else %}
    <p> voting are NOT available.</p>
{% endif %}

<h2>DELETE?</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <button type="submit" class="save btn btn-default">Delete</button>
    </form>

    {% endblock %}